.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#btnLess, #btnOver {
    background-color: #fff;
    color: #44942b;
    border: 1px solid #44942b;
}
#btnLess:hover, #btnOver:hover {
    box-shadow: inset 0 0 15px #44942b;
    outline: none;
}

#btnEqual   {
    background-color: #ce371c;
    border: 1px solid #ce371c;
    outline: none;
}
#btnEqual:hover {
    background-color: #ff4828;
    box-shadow: 0 0 8px #ff4828;
    outline: none;
}

.card-header    {
    color: #ff4828;
}

#answerField    {
    color: #44942b;
}

#btnRetry   {
    color: #44942b;
}
